// Body
body {
    margin: 20px;
    padding: 0;
    font-family: $body-font;
    font-size: 16px;
    color: #666;
}

$red: red;

.red {
    color: $red;
}

.red-light {
    color: light($red, 70%);
}

.red-dark {
    color: dark($red, 50%);
}

@media (min-width: $bp-l) {
    body {
        font-size: 14px;
    }
}
@media (min-width: $bp-m) and (max-width: ($bp-l - 1)) {
    body {
        font-size: 14px;
    }
}
@media (min-width: $bp-s) and (max-width: ($bp-m - 1)) {
    body {
        font-size: 14px;
    }
}
