{% extends 'partials/base.html.twig' %}

{% block content %}
    <div class="container">
    {% set page_image = page.media.images|first %}

    {% if page_image %}
    <div class="col5 about-left">
    {{ page_image.cropResize(800,600).html }}
    </div>
    {% else %}

    {% endif %}

    <div class="col5">
    {{ page.content}}
    </div>
    </div>
{% endblock %}
